.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.923340;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-17.464000px;}
._20{margin-left:-10.908000px;}
._12{margin-left:-9.740000px;}
._1{margin-left:-8.732000px;}
._9{margin-left:-6.899878px;}
._3{margin-left:-5.328000px;}
._d{margin-left:-4.144000px;}
._4{margin-left:-3.044000px;}
._2{margin-left:-1.296000px;}
._19{width:1.653108px;}
._11{width:2.747373px;}
._13{width:3.957877px;}
._1e{width:5.183335px;}
._6{width:6.228582px;}
._5{width:7.528582px;}
._1a{width:8.973068px;}
._15{width:10.381368px;}
._14{width:12.027369px;}
._e{width:13.819997px;}
._1f{width:14.993913px;}
._18{width:16.379316px;}
._17{width:17.799347px;}
._8{width:19.240061px;}
._7{width:20.440061px;}
._a{width:24.323593px;}
._b{width:25.363623px;}
._1c{width:26.923593px;}
._1d{width:28.003654px;}
._c{width:42.826180px;}
._16{width:44.199997px;}
._f{width:45.969997px;}
._1b{width:47.699997px;}
._10{width:49.889997px;}
.fc1{color:rgb(183,30,66);}
.fc0{color:rgb(0,0,0);}
.fs7{font-size:52.000000px;}
.fs8{font-size:54.000000px;}
.fs6{font-size:68.000000px;}
.fs5{font-size:70.000000px;}
.fs1{font-size:72.000000px;}
.fs3{font-size:80.000000px;}
.fs4{font-size:116.000000px;}
.fs2{font-size:128.000000px;}
.fs0{font-size:236.000000px;}
.y0{bottom:0.000000px;}
.y30{bottom:99.441330px;}
.y43{bottom:108.177475px;}
.y26{bottom:120.617477px;}
.y2f{bottom:125.841339px;}
.y18{bottom:127.732529px;}
.y3b{bottom:129.485428px;}
.y42{bottom:130.617493px;}
.y25{bottom:143.057495px;}
.y3e{bottom:143.564835px;}
.y17{bottom:148.132523px;}
.y2e{bottom:152.241333px;}
.y3a{bottom:155.085434px;}
.y41{bottom:163.057495px;}
.y3d{bottom:172.364838px;}
.y24{bottom:175.497498px;}
.y16{bottom:178.532516px;}
.y39{bottom:180.685440px;}
.y40{bottom:185.497498px;}
.y2d{bottom:188.641327px;}
.y38{bottom:196.285446px;}
.y15{bottom:198.932510px;}
.ya{bottom:201.164841px;}
.y23{bottom:207.937500px;}
.y2c{bottom:215.041321px;}
.y3f{bottom:217.937500px;}
.y14{bottom:219.332504px;}
.y1c{bottom:219.964844px;}
.y37{bottom:221.885452px;}
.y9{bottom:229.964844px;}
.y3{bottom:234.487700px;}
.y3c{bottom:239.964844px;}
.y22{bottom:240.377502px;}
.y2b{bottom:241.441315px;}
.y13{bottom:244.732498px;}
.y36{bottom:247.485458px;}
.y1b{bottom:248.764847px;}
.y1d{bottom:258.764839px;}
.y44{bottom:259.640167px;}
.y8{bottom:268.764839px;}
.y12{bottom:270.132507px;}
.y21{bottom:272.817497px;}
.y35{bottom:273.085457px;}
.y2a{bottom:277.841309px;}
.y1a{bottom:287.564842px;}
.y2{bottom:290.143974px;}
.y11{bottom:295.532509px;}
.y7{bottom:297.564842px;}
.y34{bottom:298.685455px;}
.y29{bottom:304.241310px;}
.y20{bottom:305.257500px;}
.y10{bottom:315.932510px;}
.y33{bottom:324.285450px;}
.y6{bottom:326.364838px;}
.y28{bottom:330.641312px;}
.y1f{bottom:337.697502px;}
.yf{bottom:341.332508px;}
.y32{bottom:349.885452px;}
.y1{bottom:353.863976px;}
.y5{bottom:355.164839px;}
.y27{bottom:357.041315px;}
.y1e{bottom:360.137501px;}
.ye{bottom:361.732505px;}
.y31{bottom:365.485454px;}
.yd{bottom:409.414253px;}
.y19{bottom:410.489143px;}
.yc{bottom:440.734253px;}
.y4{bottom:445.049143px;}
.yb{bottom:472.054249px;}
.ha{height:37.882812px;}
.hb{height:39.313477px;}
.hc{height:48.675781px;}
.h7{height:49.505859px;}
.h8{height:49.539062px;}
.h9{height:50.961914px;}
.h6{height:50.996094px;}
.h2{height:52.453125px;}
.h4{height:58.281250px;}
.h5{height:84.507812px;}
.h3{height:93.250000px;}
.h1{height:171.929688px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x2{left:121.496399px;}
.x3{left:139.496216px;}
.x4{left:157.496216px;}
.x5{left:184.496216px;}
.x1{left:197.575104px;}
.x6{left:400.070648px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-23.285333pt;}
._20{margin-left:-14.544000pt;}
._12{margin-left:-12.986667pt;}
._1{margin-left:-11.642667pt;}
._9{margin-left:-9.199837pt;}
._3{margin-left:-7.104000pt;}
._d{margin-left:-5.525333pt;}
._4{margin-left:-4.058667pt;}
._2{margin-left:-1.728000pt;}
._19{width:2.204144pt;}
._11{width:3.663164pt;}
._13{width:5.277169pt;}
._1e{width:6.911113pt;}
._6{width:8.304775pt;}
._5{width:10.038109pt;}
._1a{width:11.964091pt;}
._15{width:13.841824pt;}
._14{width:16.036493pt;}
._e{width:18.426663pt;}
._1f{width:19.991884pt;}
._18{width:21.839089pt;}
._17{width:23.732463pt;}
._8{width:25.653415pt;}
._7{width:27.253415pt;}
._a{width:32.431457pt;}
._b{width:33.818164pt;}
._1c{width:35.898123pt;}
._1d{width:37.338205pt;}
._c{width:57.101574pt;}
._16{width:58.933329pt;}
._f{width:61.293329pt;}
._1b{width:63.599996pt;}
._10{width:66.519996pt;}
.fs7{font-size:69.333333pt;}
.fs8{font-size:72.000000pt;}
.fs6{font-size:90.666667pt;}
.fs5{font-size:93.333333pt;}
.fs1{font-size:96.000000pt;}
.fs3{font-size:106.666667pt;}
.fs4{font-size:154.666667pt;}
.fs2{font-size:170.666667pt;}
.fs0{font-size:314.666667pt;}
.y0{bottom:0.000000pt;}
.y30{bottom:132.588440pt;}
.y43{bottom:144.236633pt;}
.y26{bottom:160.823303pt;}
.y2f{bottom:167.788452pt;}
.y18{bottom:170.310038pt;}
.y3b{bottom:172.647237pt;}
.y42{bottom:174.156657pt;}
.y25{bottom:190.743327pt;}
.y3e{bottom:191.419779pt;}
.y17{bottom:197.510030pt;}
.y2e{bottom:202.988444pt;}
.y3a{bottom:206.780579pt;}
.y41{bottom:217.409993pt;}
.y3d{bottom:229.819784pt;}
.y24{bottom:233.996663pt;}
.y16{bottom:238.043355pt;}
.y39{bottom:240.913920pt;}
.y40{bottom:247.329997pt;}
.y2d{bottom:251.521769pt;}
.y38{bottom:261.713928pt;}
.y15{bottom:265.243347pt;}
.ya{bottom:268.219788pt;}
.y23{bottom:277.250000pt;}
.y2c{bottom:286.721761pt;}
.y3f{bottom:290.583333pt;}
.y14{bottom:292.443339pt;}
.y1c{bottom:293.286458pt;}
.y37{bottom:295.847270pt;}
.y9{bottom:306.619792pt;}
.y3{bottom:312.650266pt;}
.y3c{bottom:319.953125pt;}
.y22{bottom:320.503337pt;}
.y2b{bottom:321.921753pt;}
.y13{bottom:326.309998pt;}
.y36{bottom:329.980611pt;}
.y1b{bottom:331.686462pt;}
.y1d{bottom:345.019786pt;}
.y44{bottom:346.186890pt;}
.y8{bottom:358.353119pt;}
.y12{bottom:360.176676pt;}
.y21{bottom:363.756663pt;}
.y35{bottom:364.113942pt;}
.y2a{bottom:370.455078pt;}
.y1a{bottom:383.419790pt;}
.y2{bottom:386.858632pt;}
.y11{bottom:394.043345pt;}
.y7{bottom:396.753123pt;}
.y34{bottom:398.247274pt;}
.y29{bottom:405.655080pt;}
.y20{bottom:407.010000pt;}
.y10{bottom:421.243347pt;}
.y33{bottom:432.380600pt;}
.y6{bottom:435.153117pt;}
.y28{bottom:440.855082pt;}
.y1f{bottom:450.263336pt;}
.yf{bottom:455.110011pt;}
.y32{bottom:466.513936pt;}
.y1{bottom:471.818634pt;}
.y5{bottom:473.553118pt;}
.y27{bottom:476.055087pt;}
.y1e{bottom:480.183334pt;}
.ye{bottom:482.310006pt;}
.y31{bottom:487.313938pt;}
.yd{bottom:545.885671pt;}
.y19{bottom:547.318858pt;}
.yc{bottom:587.645671pt;}
.y4{bottom:593.398857pt;}
.yb{bottom:629.405665pt;}
.ha{height:50.510417pt;}
.hb{height:52.417969pt;}
.hc{height:64.901042pt;}
.h7{height:66.007812pt;}
.h8{height:66.052083pt;}
.h9{height:67.949219pt;}
.h6{height:67.994792pt;}
.h2{height:69.937500pt;}
.h4{height:77.708333pt;}
.h5{height:112.677083pt;}
.h3{height:124.333333pt;}
.h1{height:229.239583pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x2{left:161.995199pt;}
.x3{left:185.994954pt;}
.x4{left:209.994954pt;}
.x5{left:245.994954pt;}
.x1{left:263.433472pt;}
.x6{left:533.427531pt;}
}
